<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">ENLAFARMA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="justify-content-center body-color">
      <ion-col class="align-self-center" size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4 class="tit" align="center">CLIENTE NUEVO</h4>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-item>
      <ion-label position="floating">Nit:</ion-label>
      <ion-input placeholder="Ingresar Nit"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Razon Social</ion-label>
      <ion-input placeholder="Ingresar Razon Social"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Direccion:</ion-label>
      <ion-input placeholder="Ingresar Direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefono:</ion-label>
      <ion-input placeholder="Ingresar Telefono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre Contacto:</ion-label>
      <ion-input placeholder="Ingresar Nombre"></ion-input>
    </ion-item>
  </ion-grid>
<ion-grid class="grid2">
    <div class="padding">
      <ion-button size="default" href="/touchid" expand="block">Crear</ion-button>
    </div>
  </ion-grid>

</ion-content>